/** 
 * about.css
 * 
 * Everything here should be prefixed with "about"
 */

.about-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.about-image-section {
    
}

.about-image-section > img {
    border-radius: 20px;
    height: 400px;
}

.about-intro-section {
    flex: 1;
    margin-left: 30px;
}

.about-details {

}

.about-details-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
}

.about-details-row:last-child {
    margin-bottom: 0;
}

.about-details-section {
    flex: 1;
    margin-right: 40px;
}

.about-details-section:last-child {
    margin-right: 0;
}

.about-details-title {
    margin-bottom: 10px;
}

.about-details-text {

}