/** 
 * work.css
 * 
 * Everything here should be prefixed with "work"
 */

.work-project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-project-container > div {
    flex: 1;
}

.work-project-row {
    flex: 5;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.work-project-row > div {
    flex: 1;
}

.work-project-item {
    flex: 5 !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.work-project-item > img {
    margin: 20px;
    max-height: 300px;
    border-radius: 20px;
}

.work-project-description {
    position: absolute;
    background-color: #000;
    color: #fff;
    text-align: center;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work-project-description > div {
    cursor: pointer;
    width: 100%;
    padding: 0 40px;
}

.work-project-description-title {
    font-size: 30px;
    font-weight: bold;
}

.work-project-description-details {
    font-size: 14px;
    font-weight: normal;
}

.work-purple {
    background-color: #DECAF2;
}

.work-red {
    background-color: #F97781;
}

.work-yellow {
    background-color: #F2E9CA;
}

.work-green {
    background-color: #CAF2DA;
}